*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: #000000;
    height: 100%;
}

main{
    height: 80%;
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

header , footer{
    height: 10vh;
    background-color: #535353;
    color: #fff;
    padding: 20px;

}

p{
    width: 400px;
    color: #fff;
}

/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    background-color: #000000;
    height: 100vh;
}

main{
    min-height: 80vh;
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

header , footer{
    height: 10vh;
    background-color: #535353;
    color: #fff;
    padding: 20px;

}

p{
    width: 400px;
    color: #fff;
}

usando vh e min-height a pagina rola automaticamente */